html, body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(25, 33, 44);
    font-size: 24px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-size: extra-bold;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px 30px;
    text-align: center;
}

.part-1 p {
    font-size: 18px;
    color: #f9faf8;
}

.part-1 {
    background-color: rgb(25, 33, 44);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left-side {
    width: 420px;
    height: 300px;
}

.right-side {
    height: 300px;
}

img {
    width: 400px;
    height: 250px;
}

h1,
p,
header,
button,
a {
    color: antiquewhite;
}

.part-2 {
    display: flex;
    flex-direction: column;
}

.part-2-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding: 50px;
}

.part-2 .container {
    display: flex;
    gap: 5em;
    justify-content: center;
    margin-bottom: 100px;
}

.container img {
    border: solid #3882f6 5px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 1em;
}

.container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: wrap;
    width: 150px;
}

.part-3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px;
    align-items: center;
}

.part-3 .text {
    width: 900px;
    font-size: 30px;
    font-style: italic;
    font-weight: light;
}

.part-3 .quote {
    display: flex;
    justify-content: flex-end;
    width: 900px;
    font-size: 24px;
    font-weight: bold;
}

.part-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-call {
    background-color: #3882f6;
    border-radius: 10px;
    margin: 70px;
    font-size: 24px;
    padding: 2em 5em;
    color: antiquewhite;
    display: flex;
    gap: 2em;
}

.action-call .left {
    margin: 1em;
}

.action-call .header {
    font-size: 24px;
    font-weight: bolder;
}

.action-call .text {
    font-size: 18px;
}

.action-call .button {
    border: 2px solid antiquewhite;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 2em;
    flex-grow: 0;
    font-size: 18px;
    margin: auto;
}

.footer p {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 2em;
    justify-content: center;
    align-items: center;

}
